{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %} 欢迎来到OpenLab 开放学习平台！ {% endblock %}

{% block content %}
{# URL使用为当前登录用户时，刚显示 #}
{% ifequal user.username username %}
{% include "common/_status.html" %}
{% else %}
{% if is_friend %}
已关注| <a href="/{{ username }}/friends/unfollow/">取消</a>
{% else %}
<a href='/{{username}}/friends/add/'>关注Ta</a>
{% endif %}
{% endifequal %}

<div class="status-list">
{% if st_list %}
  <dt>
    {% for st in st_list %}
      <dd> {% ifequal user.username username %}
           <sub>[<a href="/{{ user.username }}/home/st/{{st.id}}/del/">删除</a>]</sub>
           {% endifequal %}
           {{ st.content|safe }}  <sub>@{{ st.updated|date:"Y年m月d日 H时i分"}}</sub> </dd>
    {% endfor %}
  </dt>
{% else %}
  <p>您什么情感状态也没有留下~~</p>
{% endif %}
</div>
{% include "common/_show_paginator.html" %}
{% endblock %}
