
<li id="blog_title"><a href="/{{ user.username }}/blog/entry/{{ page.id }}/">{{ page.title }}</a>
{% ifequal user page.user %}
<span id="edit_del">
[<a href="/{{ user.username }}/blog/edit/{{ page.id }}/">编辑</a>]
[<a href="/{{ user.username }}/blog/del/{{ page.id }}/">删除</a>]
</span>
{% endifequal %}
</li>
<li id="blog_updated">发布时间： {{ page.updated|date:"F j, Y" }}</li>
<li id="blog_entry">{{ page.content|safe }}</li>
{% if tag_show %}
<li>Tags:
     {% for tag in page.tags.all %}
     <a href="/{{ user.username }}/blog/tags/{{tag}}/">{{ tag }}</a>
     {% endfor %}
</li>
{% endif %}