body {
    margin: 10px 30px 10px 30px;;
    font-size: 12pt;
    background-color: white;
    color: #606060;
    line-leight: 1.25em;
}

.content {
    margin: 5px 20px 5px 20px;
    padding: 5px 20px 5px 20px;
}

input,
textarea {
    padding: 5px;
    font-size: 14pt;
    boder: 1px solid #ddd;
}

textarea {
    margin: 0;
}

a:link, a {
    color: #202020;
    text-decoration: none;
}

a:hover {
    color: #3366cc;
    border-bottom: 1px dotted #3366cc;
}

h1 {
    padding: 0 0 0.5 0;
    font-weight: normal;
    font-size: 2em;
}

pre, code {
    font-family: monospace;
    color: #060;
}

pre {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid silver;
    line-height: 14pt;
}

#line {
    padding-top: 5px;
    clear: both;
    border-bottom: 1px solid #ccc;
}

h1 a:link, h1 a, h1 a:hover {
    text-decoration: nono;
    color: #999
}

.st-input {
    float: right;
}

.edit_del {
    font-size: 0.8em;
}

.status-list dt {
    margin: 0 5px 5px 0;
    padding: 5px 0 5px 5px;
}

.status-list dd {
    border-bottom: 1px dotted #ccc;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-size: 08.em;

}

#blog_title {
    font-weight: bold;
    margin: 5px 0 5px 0;
}

#blog_updated,
#blog_tags {
    border-top: 1px dotted #ccc;
    font-size: 0.7em;
}


.blog-dt {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border: 1px dotted #ccc;
}

.blog-dt dd {
    margin: 0;
    padding: 0;
}
